useDynLib(nmslibR, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(NMSlib)
export(KernelKnn_nmslib)
export(KernelKnnCV_nmslib)
export(mat_2scipy_sparse)
export(TO_scipy_sparse)
import(reticulate)
import(KernelKnn)
importFrom(R6,R6Class)
importFrom(Matrix,Matrix)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
importFrom(stats,model.matrix)
importFrom(utils,combn)
importFrom(utils,getFromNamespace)
